<appSettings>

<!--Global Settings-->
<add key="ConnectionString.Name" value="ConnectionLocal" />
<add key="ConnectionStringMaster.Name" value="ConnectionMaster" />
<add key="MusicGO.Logger" value="LoggerLocal" />
<add key="FileMusicData" value="C:\\RepoFiles\\MusicWAV" />
<add key="FileImagesData" value="C:\\RepoFiles\\Images" />
	
<add key="ImageStandard" value="standardavatar.jpg" />
<!--Global Settings-->


	<!--Email Settings-->
<add key="EmailAdmin" value="musicgo.adm@gmail.com" />
<add key="PasswordEmailAdmin" value="musicg0Admin" />
<add key="SubjectResetPassword" value="Solicitud Reinicio de contraseña" />
<add key="BodyResetPassword" value="Ingrese en el siguiente link para recuperar su contraseña" />


<add key="AccessToken" value="TEST-4939042802854550-071705-6405471f7e20370386c50bfff966c9c6-41186591" />
	
	
<add key="RecoverPasswordURL" value="http://localhost:8082/#/recoverpassword/" />	<!--local-->



<add key="SuccessPreference" value="http://localhost:8082/#/payment" />
<add key="FailurePreference" value="http://localhost:8082/" />
<add key="PendingPreference" value="http://localhost:8082/" />



<add key="NotificationURL" value="https://www.your-site.com/ipn" />



<add key="BackupRepo" value="C:\\RepoFiles\\Backups" />
	
 </appSettings>