<connectionStrings>
  <add name="ConnectionLocal" connectionString="Data Source=ITTRP0577;Initial Catalog=MusicGO;Integrated Security=True" />
  <!--<add name="ConnectionLocal" connectionString="Data Source=LAPTOP-QIKD2ND9\SQLEXPRESS;Initial Catalog=MusicGO;Integrated Security=True" />-->
</connectionStrings>




