<appSettings>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

<!--Global Settings-->
<add key="ConnectionString.Name" value="ConnectionLocal" />
<add key="MusicGO.Logger" value="LoggerLocal" />
<!--Global Settings-->


	<!--Email Settings-->
<add key="EmailAdmin" value="musicgo.adm@gmail.com" />
<add key="PasswordEmailAdmin" value="musicg0Admin" />
<add key="SubjectResetPassword" value="Solicitud Reinicio de contraseña" />
<add key="BodyResetPassword" value="Ingrese en el siguiente link para recuperar su contraseña" />
	
	
<add key="RecoverPasswordURL" value="http://localhost:8080/#/recoverpassword/" />	<!--local-->
 </appSettings>